// All SVG Sprites are in this Map
//
// @type Map
/* stylelint-disable */

$svgspritebase: (
  width: 150px,
  height: 120px
);

$svgsprites: (
  icon-buffer: (
    width: 30px,
    height: 30px,
    posX: -30px,
    posY: 0px
  ),
  icon-close: (
    width: 30px,
    height: 30px,
    posX: -90px,
    posY: 0px
  ),
  icon-email: (
    width: 30px,
    height: 30px,
    posX: 0px,
    posY: -30px
  ),
  icon-facebook: (
    width: 30px,
    height: 30px,
    posX: -30px,
    posY: -30px
  ),
  icon-googleplus: (
    width: 30px,
    height: 30px,
    posX: -60px,
    posY: 0px
  ),
  icon-instagram: (
    width: 30px,
    height: 30px,
    posX: -60px,
    posY: -30px
  ),
  icon-linkedin: (
    width: 30px,
    height: 30px,
    posX: 0px,
    posY: -60px
  ),
  icon-logo: (
    width: 30px,
    height: 21.78px,
    posX: -30px,
    posY: -60px
  ),
  icon-pinterest: (
    width: 30px,
    height: 30px,
    posX: 0px,
    posY: 0px
  ),
  icon-reddit: (
    width: 30px,
    height: 30px,
    posX: -90px,
    posY: -30px
  ),
  icon-search: (
    width: 30px,
    height: 30px,
    posX: -90px,
    posY: -60px
  ),
  icon-twitter: (
    width: 30px,
    height: 30px,
    posX: 0px,
    posY: -90px
  ),
  icon-vimeo: (
    width: 30px,
    height: 30px,
    posX: -30px,
    posY: -90px
  ),
  icon-whatsapp: (
    width: 30px,
    height: 30px,
    posX: -60px,
    posY: -90px
  ),
  icon-xing: (
    width: 30px,
    height: 30px,
    posX: -90px,
    posY: -90px
  ),
  icon-youtube: (
    width: 30px,
    height: 30px,
    posX: -120px,
    posY: 0px
  ),
);
